.container{
    background-color: #c4fffd;
    border: 5px dotted #0a9b96;
    width: 50%;
    height: 300%;
    margin: auto;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    
}

body{
    background-image: url(bg.jpg);
}

h1{
    color: #d28282;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}

form{
    color: rgb(39, 121, 197);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

img{
    height:30%;
    width:50%;
    border: 3px solid rgb(121, 203, 54);
    border-radius: 20px;
}